<div class=row>
  <div class="eight columns">
    <div class=well>
      <h4>Basis Konfiguration</h4>

      <form class=nice action=".">
        <fieldset>
          <legend>Grundlegende Einstellungen deines Freifunk Routers</legend>

          <label class=control-label for=name>Routername</label>
          <input type=text class=input-text name=name id=name>
          <p class=help-block>wie soll dein Router heissen</p>

          <label class=control-label for=owner>Besitzer</label>
          <input type=text class=input-text name=owner id=owner>
          <p class=help-block>der Name des Besitzers, normalerweise bist Du das</p>

          <label class=control-label for=godfather>Pate</label>
          <input type=text class=input-text name=godfather id=godfather>
          <p class=help-block>der Router Pate, der von dem Du den Router bekommen hast</p>

          <label class=control-label for=ipv4>IPv4 Adresse</label>
          <input type=text class=input-text name=ipv4 id=ipv4 disabled>
          <p class=help-block>die IPv4 Adresse auf der dein Router lauschen soll</p>

          <label class=control-label for=ipv6>IPv6 Adresse</label>
          <input type=text class=input-text name=ipv6 id=ipv6 disabled>
          <p class=help-block>die IPv6 Adresse auf der dein Router lauschen soll</p>

          <label class=control-label for=position>Position</label>
          <input type=text class=input-text name=position id=position>
          <p class=help-block>Breiten- und Längengrad wo der Router steht, z.B. 51.123,6.123</p>

          <label class=control-label for=description>Beschreibung</label>
          <textarea class="input-text last" name=description id=description rows=3 cols=5></textarea>
          <p class=help-block>
            eine kleine Beschreibung deines Routers<br>
            z.B. wo er steht.
          </p>
        </fieldset>

        <div class=form-actions>
          <button id=save type=button class=button>Speichern</button>
          <button type=reset class="button danger">Zurücksetzen</button>
        </div>
      </form>
    </div>
  </div>
  <div class="four columns">
    <div class="well help">
      <h5>Hilfe</h5>

      <p>
        Hier stellst Du die wichtigesten Einstellungen deines
        Freifunk Routers ein. Beachte die Hilfetexte unter den Eingabefeldern,
        falls Du sonst noch Fragen oder Probleme hast frage im Channel oder auf
        der Mailingliste nach.
      </p>
    </div>
  </div>
</div>